@(placesList: List[Place], form: Form[PlaceData])(implicit flash: Flash, messages: Messages)


<html>
<head>
    <link rel="stylesheet" media="screen" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Places</title>
</head>
<body class="container">
@if(flash.get("success").isDefined){
    <div class="alert alert-success">
        @flash.get("success")
    </div>
}

@if(flash.get("error").isDefined){
    <div class="alert alert-danger">
        @flash.get("error")
    </div>
}

@helper.form(action = routes.Application.upload, 'enctype -> "multipart/form-data") {
    <fieldset>
    <legend>Add new place:</legend>
        @helper.inputText(form("name"))
        @helper.inputFile(form("picture"))
    <button class="btn btn-primary" type="submit">Create</button>
    </fieldset>
}

@for(place <- placesList) {
    <p>@(place.name)</p>
    <img style="height:200px;" src="@routes.Application.getPictureOfPlace(place.name)" />
}
</body>