@(placesList: List[Place])(implicit flash: Flash)

@if(flash.get("success").isDefined){
    <div class="alert alert-success">
        @flash.get("success")
    </div>
}

@if(flash.get("error").isDefined){
    <div class="alert alert-danger">
        @flash.get("error")
    </div>
}

@helper.form(action = routes.Application.upload, 'enctype -> "multipart/form-data") {
<input type="file" name="picture">
    <p>
        <input type="submit">
    </p>
}

@for(place <- placesList) {
    <p>@(place.name)</p>
    <img style="height:200px;" src="@routes.Application.getPictureOfPlace(place.name)" />
}